{% extends "lms_system/base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>{{ course.title }}</h1>
        </div>
        <div class="col">
            <a target="_blank" rel="noopener noreferrer" href="{{ course.tg_channel }}" class="btn btn-primary w-100">Телеграмм канал</a>
        </div>
        {% for i in lessons %}
        <div class="row mt-3">
                <div class="col">
                    <div class="card text-center">
                      <div class="card-body">
                        <h5 class="card-title">{{ i.title }}</h5>
                        <p class="card-text">{{ i.description }}</p>
                        <a target="_blank" rel="noopener noreferrer" href="{{ i.files_url }}" class="btn btn-primary">К файлам занятия</a>
                      </div>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}